.lista {
    width: 100%;
    border-spacing: 0;
}

.lista tr:nth-child(1) {
    vertical-align: top;
    background-color: black;
    color: white;
    font-weight: bold ;
}

.lista tr td {
    padding: 10px;
}

.lista .btn-alterar{
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 33px;
    width: 82px;
    font: bold 15px strong, sans-serif;
    text-shadow: none;
    text-transform: capitalize;
    cursor: pointer;
}
